In [7]:

import pandas as pd
import numpy as np
import os

In [8]:
datadir = '../data/plows/v0/raw'
file = 'plow20180101.csv'
data = os.path.join(datadir, file)

In [9]:
df = pd.read_csv(data)

In [10]:
df.head()

,Unnamed: 0,truck_name,repair_type,date_fixed,strHeading,address,activity_type,longitude,latitude
0,8624,178.0,SNOW & ICE,2018-01-01 05:15:20.000,N,1200 CANAL ST ...,,-76.108890,43.055110
1,8625,178.0,SNOW & ICE,2018-01-01 05:15:22.000,N,1200 CANAL ST ...,Ignition On,-76.108890,43.055110
2,8648,178.0,SNOW & ICE,2018-01-01 05:16:22.000,N,1200 CANAL ST ...,,-76.108890,43.055110
3,8669,178.0,SNOW & ICE,2018-01-01 05:17:22.000,N,1200 CANAL ST ...,,-76.108805,43.055128
4,8687,178.0,SNOW & ICE,2018-01-01 05:18:22.000,W,1200 CANAL ST ...,,-76.108779,43.055191